<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Add the file-icon-vectors CSS file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/file-icon-vectors@1.0.0/dist/file-icon-vectors.min.css" />
    <link rel="icon" href="/favicon.ico">
    <title>Drop me file.</title>
    <style>
        .dark-mode {
            background-color: #1a202c;
            color: white;
        }
    </style>
</head>
<body class="dark-mode">
    <div class="grid grid-cols-4 gap-4 p-4" id="files">
        <% files.forEach(file => { %>
            <div class="bg-gray-800 p-4 rounded-lg flex flex-col items-center">
                <span class="truncate max-w-full"><%= file.split('-').slice(1).join('-') %></span>
                <span class="fiv-sqo fiv-icon-<%= file.split('.').pop() %> text-7xl p-4"></span>
                <a href="/files/<%= file %>" download class="mt-2 bg-blue-500 text-white px-4 py-2 rounded">Download</a>
            </div>
        <% }) %>
    </div>
    <footer class="container mx-auto text-center py-20 mt-10">
        <a href="/" class="block text-xl text-blue-500 my-6 hover:underline">Return back to Home</a>
        <p>&copy; Drop me file.</p>
    </footer>
</body>
</html>
